<h1>All videos</h1>
<% @videos.each do |video| %>
  <% youtube_id = video.embedded_url[/(=[\d\D]{5,})/].slice(1..-1) %>
  <div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= youtube_id %>" frameborder="0" allowfullscreen></iframe>
  </div>
<% end %>
