#terrence {
  font-size: 3em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 100px;
}

.containerr {
  background: url("trippy.jpg") no-repeat center center fixed;
  background-size: cover;
}

.center-this-plz {
  border: 5px solid green;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.move {
 border: 1px solid blue;
 text-align: left;
 margin-left: 10%;
 display: inline-block;
}
