// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  #xaxis .domain {
    fill:none;
    stroke:#000;
  }

  #xaxis text, #yaxis text {
    font-size: 12px;
  }
